body {
    background: linear-gradient(90deg, white, rgb(202, 199, 199));
    font-family: Arial;
    color: black;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(90deg, rgb(58, 58, 58), rgb(0, 0, 0));
        color: white;
    }
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: blue;
}

a:hover {
    color: rgb(155, 155, 233);
}

h1 {
    font-family: Georgia;
    font-size: 30px;
}

p {
    font-size: 20px;

}

ul {
    display: block;
    margin: 0 5%;
    font-size: 20px;
}

.center{
    text-align: center;
}

div.content {
    width: auto;
    margin: 20px auto;
}

.dotted {
    border: 2px dotted black;
}

.solid {
    border: 2px solid black;
}